* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #ebe9e9;
  width: 100%;
  height: 100vh;
}
a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}