.infos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.infos div {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.infos h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.infos button {
    background-color: #222;
    color: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: 250ms;
    cursor: pointer;
    border: none;
    outline: none;
}
.infos button:hover {
    transition: 250ms;
    background-color: salmon;
    box-shadow: 0px 1px 20px 6px #000;
}
.infos h2 {
    color: #222;
}
.infos span {
    color: salmon;
}